* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: -webkit-fill-available;
    width: 100%;
    font-size: 62.5%;
}

body,
#root {
    width: 100%;
    height: 100%;

    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: var(--white);

    background-color: var(--background);
}

:root {
    /* vars */
    --navbar-width: 260px;

    /* spacing */
    --spacing-1: 0.4rem;
    --spacing-2: 0.8rem;
    --spacing-3: 1.2rem;
    --spacing-4: 1.6rem;
    --spacing-5: 2rem;
    --spacing-6: 2.4rem;
    --spacing-7: 2.8rem;
    --spacing-8: 3.2rem;
    --spacing-9: 3.6rem;
    --spacing-10: 4rem;
    --spacing-11: 4.4rem;
    --spacing-12: 4.8rem;
    --spacing-14: 5.6rem;
    --spacing-16: 6.4rem;
    --spacing-20: 8rem;
    --spacing-24: 9.6rem;

    /* colors */
    --gray: #c4c4c4;
    --white: #f5f5f5;
    --background: #0e101d;
    --red: #a81a2d;

    --gray-1: #f3f4f6;
    --gray-2: #e5e7eb;
    --gray-3: #d1d5db;
    --gray-4: #9ca3af;
    --gray-5: #6b7280;
    --gray-6: #4b5563;
    --gray-7: #374151;
    --gray-8: #1f2937;
    --gray-9: #111827;
}
