.wrapper {
    padding: var(--spacing-4) 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper h1 {
    font-weight: 500;
    font-size: 2.2rem;
    font-style: italic;

    user-select: none;
}

.wrapper button svg {
    margin-left: var(--spacing-1);
}
